@import "tailwindcss";
@media (min-width: 600px) {
  body {
    overflow-y: hidden;
  }
}

html, body {
  /* Sa ap fòse background nan kouvri zòn navigasyon anba a */
  background-color: #121212;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  /* Pou anpeche rale kawotchou (rubber banding) blan an */
  overscroll-behavior: none;
}



#root {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  background-color: inherit; /* Li pran koulè body a otomatikman */
}

body {
  /* Sa ap asire ke menm si gen yon rale (overscroll), li rete nwa */
  background-color: #121212;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  padding-bottom: env(safe-area-inset-bottom);
  /* Pou evite espas gri anba a sou iOS/Android */
  padding-bottom: env(safe-area-inset-bottom);
  overscroll-behavior-y: none;
}

header,
nav {
  border-top: none !important;
  box-shadow: none !important;
  outline: none !important;
}

:root {
  background-color: #121212;
}

#root {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  width: 100%;
  min-height: 100vh;
}

img {
  filter: saturate(1);
}

.dkd {
  background-color: #6a6a6a21;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}

/* Nan CSS ou */
.btn-primary {
  @apply bg-orange-500 text-white font-black uppercase text-xs rounded-2xl flex items-center justify-center gap-2 transition-all active:scale-95 disabled:opacity-50;
}

.btn-secondary {
  @apply bg-transparent text-zinc-500 font-bold py-4 hover:text-zinc-300 transition-colors;
}

button,
div,
a {
  -webkit-tap-highlight-color: transparent;
}

/* 1. Retire tout style defo navigatè a sou tout bouton */
button {
  background-color: transparent;
  border: none;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;

  font-family: inherit;
}

/* 2. Retire ti lonbraj gri ki parèt lè w klike sou mobil (Tap Highlight) */
* {
  -webkit-tap-highlight-color: transparent;
  border-color: transparent !important;
}

/* 3. Asire w bouton ki disabled yo pa chanje koulè an gri */
button:disabled {
  cursor: not-allowed;
  filter: grayscale(0);
  /* Anpeche l vin gri otomatikman */
}

